{% extends "base/base.html" %}
{% block title %}
    Simple Comercio
{% endblock %}
{% block content %}
<div class="login-box">
    <h1>Actualizar usuario</h1>
    <form method="post" action="{{ url_for('actualizar') }}">
        <label for="username">Usuario</label>
        <p><input name="username" type="text"></p>
        <label for="montoMensual">Monto mensual a capitalizar:</label>
        <p><input name="MontoMensual" type='number'></p>

        <input type="submit" value="Actualizar">
        <a href="{{ url_for('inicio') }}">Volver</a>
    </form>
</div>
{% endblock %}