{% extends "base/base.html" %}
{% block title %}
    Simple Comercio
{% endblock %}
{% block content %}
<nav> 
    <a href="{{ url_for('inicio') }}" class="nav-enlace">Inicio</a>
    <a href="{{ url_for('signup') }}" class="nav-enlace">Crear</a>
    <a href="{{ url_for('update') }}" class="nav-enlace">Actualizar</a>
    <a href="{{ url_for('delete') }}" class="nav-enlace">Eliminar</a>
    <a href="{{ url_for('grafica') }}" class="nav-enlace">Gráfico</a>
    <a href="{{ url_for('cambiar_password_admin') }}" class="nav-enlace">Cambiar Password</a>
    <a href="{{ url_for('logout') }}" class="nav-enlace">Salir</a>
</nav>
<div class="login-box">
    <img src="{{ url_for('static', filename= 'img/logo1.jpg') }}" alt=""class="avatar" alt="Avatar Image">
    <h1>Cambio de Contraseña</h1>
    <form method="post" action="/cambiarPasswordAdmin">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <label for="username">Usuario</label>
        <p><input name="username" type="text"></p>
        <label for="nuevoPassword">Nuevo Password</label>
        <p><input name="nuevoPassword" type="password" placeholder="nuevoPassword"></p>
        <label for="confirmacionPassword">Confirmar Password</label>
        <p><input name="confirmacionPassword" type="password" placeholder="confirmacionPassword"></p>
        <input type="submit" value="Cambiar Password">
    </form>
</div>
{% endblock %}