{% extends "base/base.html" %}
{% block title %}
    Simple Comercio
{% endblock %}
{% block body %}
<body class="bg-color">
{% block content %}
<div class="hamburger">
	<div class="_layer -top"></div>
	<div class="_layer -mid"></div>
	<div class="_layer -bottom"></div>
</div>
<nav class="menuppal">
    <ul>
        <li><a href="{{ url_for('inicio') }}" class="nav-enlace">Inicio</a></li>
        <li><a href="{{ url_for('signup') }}" class="nav-enlace">Crear</a></li>
        <li><a href="{{ url_for('update') }}" class="nav-enlace">Actualizar</a></li>
        <li><a href="{{ url_for('delete') }}" class="nav-enlace">Eliminar</a></li>
        <li><a href="{{ url_for('grafica') }}" class="nav-enlace">Gráfico</a></li>
        <li><a href="{{ url_for('cambiar_password_admin') }}" class="nav-enlace">Cambiar Password</a></li>
        <li><a href="{{ url_for('logout') }}" class="nav-enlace">Salir</a></li>
    </ul> 
</nav>
<div class="login-box cambioPassword">
    <img src="{{ url_for('static', filename= 'img/logo1.jpg') }}" alt=""class="avatar" alt="Avatar Image">
    <h1>Cambio de Contraseña</h1>
    <form method="post" action="/cambiarPasswordAdmin">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <label for="username">Usuario</label>
        <p><input name="username" type="text"></p>
        <label for="nuevoPassword">Nuevo Password</label>
        <p><input name="nuevoPassword" type="password" ></p>
        <label for="confirmacionPassword">Confirmar Password</label>
        <p><input name="confirmacionPassword" type="password"></p>
        <input type="submit" value="Cambiar Password">
    </form>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='js/menu.js') }}"></script>
{% endblock %}
</body>
{% endblock %}
