{% extends "base/base.html" %}
{% block title %}
    Simple Comercio
{% endblock %}
{% block content %}
<nav>
    <a href="{{ url_for('home') }}" class="nav-enlace">Inicio</a>
    <a href="{{ url_for('detalles') }}" class="nav-enlace">Detalles</a> 
    <a href="{{ url_for('cambiar_password') }}" class="nav-enlace">Cambiar Password</a>
    <a href="{{ url_for('logout') }}" class="nav-enlace">Salir</a>
</nav>
<div class="login-box">
    <img src="{{ url_for('static', filename= 'img/logo1.jpg') }}" alt=""class="avatar" alt="Avatar Image">
    <h1>Cambio de Contraseña</h1>
    <form method="post" action="/cambiarPassword">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <label for="nuevoPassword">Nuevo Password</label>
        <p><input name="nuevoPassword" type="password" placeholder="nuevoPassword"></p>
        <label for="confirmacionPassword">Confirmar Password</label>
        <p><input name="confirmacionPassword" type="password" placeholder="confirmacionPassword"></p>
        <input type="submit" value="Cambiar Password">
    </form>
</div>
{% endblock %}