{% extends "base/base.html" %}
{% block head %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
{% endblock %}
{% block title %}
    Simple Comercio
{% endblock %}
{% block content %}
<nav>
    <a href="{{ url_for('home') }}" class="nav-enlace">Inicio</a>
    <a href="{{ url_for('detalles') }}" class="nav-enlace">Detalles</a> 
    <a href="{{ url_for('cambiar_password') }}" class="nav-enlace">Cambiar Password</a>
    <a href="{{ url_for('logout') }}" class="nav-enlace">Salir</a>
</nav>
<div class="div">
    <section>
        <h3>{{ colaborador.username }}</h3>
        <p>Monto acumulado: {{ colaborador.monto_inicial }}</p>
        <p>Fecha ultima actualizacion: {{ colaborador.fecha_ultima_actualizacion }}</p>     
    </section>
</div>
<div class="div">
    <section>
        <table>
            <colgroup>
                <col style="background-color: gray">
                <col span="2" style="background-color:yellow;"">
            </colgroup>    
            <thead>
                <tr style="background-color: black; color:black">
                    <th>Fecha</th>
                    <th>Monto Mensual</th>
                    <th>Concepto del aporte</th>
                </tr>
            </thead>
            <tbody>
                {% for item in dataUser %}
                    <tr>
                        <th>{{ item[1] }}</th>
                        <th>{{ item[2] }}</th>
                        <th>{{ item[3] }}</th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
{% endblock %}