{% extends "base/base.html" %}
{% block title %}
    Simple Comercio
{% endblock %}
{% block content %}
<nav> 
    <a href="{{ url_for('inicio') }}" class="nav-enlace">Inicio</a>
    <a href="{{ url_for('signup') }}" class="nav-enlace">Crear</a>
    <a href="{{ url_for('update') }}" class="nav-enlace">Actualizar</a>
    <a href="{{ url_for('delete') }}" class="nav-enlace">Eliminar</a>
    <a href="{{ url_for('grafica') }}" class="nav-enlace">Gráfico</a>
    <a href="{{ url_for('cambiar_password_admin') }}" class="nav-enlace">Cambiar Password</a>
    <a href="{{ url_for('logout') }}" class="nav-enlace">Salir</a>
</nav>
<div class="login-box">
    <h1>Eliminar usuario</h1>
    <form method="post" action="{{ url_for('eliminar') }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <label for="username">Usuario</label>
        <p><input name="username" type="text"></p>

        <input type="submit" value="Eliminar">
    </form>
</div>
{% endblock %}