{% extends "base/base.html" %}
{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"></script>
{% endblock %}
{% block title %}
    Simple Comercio
{% endblock %}
{% block content %}
<nav>
    <a href="{{ url_for('detalles') }}" class="nav-enlace">Detalles</a> 
    <a href="{{ url_for('cambiar_password') }}" class="nav-enlace">Cambiar Password</a>
    <a href="{{ url_for('logout') }}" class="nav-enlace">Salir</a>
</nav>
<div class="grafico">
    <canvas id="grafica"></canvas>
</div>

<script>
    var grafica = document.getElementById("grafica");
    var myChart = new Chart(grafica, {
        type:'pie',
        data: {
            labels: {{ labels | safe }},
            datasets: [{ 
                label: "Data points",
                data: {{ values | safe }},
                backgroundColor: ["#9b2226", "#001219", "#ae2012", "#005f73", "#bb3e03", "#0a9396", "#ca6702", "#ee9b00", "#e9d8a6", "#94d2bd"]
            }]
        }
        });
</script>

<div class="div">
    {% for item in col %}
    <section>
        <h3>{{ item[0] }}</h3>
        <p>Cantidad de acciones: {{ item[1] * num }}</p>   
    </section>
    {% endfor %}
</div>
{% endblock %}