{% extends "base/base.html" %}
{% block title %}
    Simple Comercio
{% endblock %}
{% block content %}
<nav> 
    <a href="{{ url_for('inicio') }}" class="nav-enlace">Inicio</a>
    <a href="{{ url_for('signup') }}" class="nav-enlace">Crear</a>
    <a href="{{ url_for('update') }}" class="nav-enlace">Actualizar</a>
    <a href="{{ url_for('delete') }}" class="nav-enlace">Eliminar</a>
    <a href="{{ url_for('index') }}" class="nav-enlace">Buscar</a>
    <a href="{{ url_for('logout') }}" class="nav-enlace">Salir</a>
</nav>
    <h1>Bienvenido!</h1>
    <form method="get" action="{{ url_for('search') }}">
        <p><input type="text" name="username"></p>
        <input type="submit" value="Search">
        <a href="{{ url_for('inicio') }}">Volver</a>
    </form>
{% endblock %}