{% extends "base/base.html" %}
{% block title %}
    Simple Comercio
{% endblock %}
{% block content %}
<nav> 
    <a href="{{ url_for('inicio') }}" class="nav-enlace">Inicio</a>
    <a href="{{ url_for('signup') }}" class="nav-enlace">Crear</a>
    <a href="{{ url_for('update') }}" class="nav-enlace">Actualizar</a>
    <a href="{{ url_for('delete') }}" class="nav-enlace">Eliminar</a>
    <a href="{{ url_for('grafica') }}" class="nav-enlace">Gráfico</a>
    <a href="{{ url_for('logout') }}" class="nav-enlace">Salir</a>
</nav>
<div class="div">
    <section>
        <h3>{{ colaborador.username }}</h3>
        <p>Monto acumulado: {{ colaborador.monto_inicial }}</p>
        <p>Fecha ultima actualizacion: {{ colaborador.fecha_ultima_actualizacion }}</p>     
    </section>
</div>



{% endblock %}