{% extends "base/base.html" %}
{% block title %}
    Simple Comercio
{% endblock %}
{% block content %}
<nav> 
    <a href="{{ url_for('inicio') }}" class="nav-enlace">Inicio</a>
    <a href="{{ url_for('signup') }}" class="nav-enlace">Crear</a>
    <a href="{{ url_for('update') }}" class="nav-enlace">Actualizar</a>
    <a href="{{ url_for('delete') }}" class="nav-enlace">Eliminar</a>
    <a href="{{ url_for('grafica') }}" class="nav-enlace">Gráfico</a>
    <a href="{{ url_for('cambiar_password_admin') }}" class="nav-enlace">Cambiar Password</a>
    <a href="{{ url_for('logout') }}" class="nav-enlace">Salir</a>
</nav>
<div class="div">
    <section>
        <h3>{{ colaborador.username }}</h3>
        <p>Monto acumulado: {{ colaborador.monto_inicial }}</p>
        <p>Fecha ultima actualizacion: {{ colaborador.fecha_ultima_actualizacion }}</p>     
    </section>
</div>
<div class="div">
    <section>
        {% if user|length == 1  %}
            <h3>{{ user[0] }}</h3>
        {% else %}
            <table id="tableData">
                <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Monto Mensual</th>
                    <th>Concepto del aporte</th>
                </tr>
                <tbody>
                    {% for item in user %}
                    <tr>
                        <th>{{ item[1] }}</th>
                        <th>{{ item[2] }}</th>
                        <th>{{ item[3] }}</th>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </section>
</div>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/paging.js') }}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#tableData').paging({limit:5});
    });
</script>
{% endblock %}








        

 