{% extends "base/base.html" %}
{% from "base/_render_elements.html" import render_messages %}
{% block title %}
    Simple Comercio
{% endblock %}
{% block body %}
<body class="bg-color">
    {{ render_messages(messages) }}
{% block content %}
<div class="hamburger">
	<div class="_layer -top"></div>
	<div class="_layer -mid"></div>
	<div class="_layer -bottom"></div>
</div>
<nav class="menuppal">
    <ul>
        <li><a href="{{ url_for('inicio') }}" class="nav-enlace">Inicio</a></li>
        <li><a href="{{ url_for('signup') }}" class="nav-enlace">Crear</a></li>
        <li><a href="{{ url_for('update') }}" class="nav-enlace">Actualizar</a></li>
        <li><a href="{{ url_for('delete') }}" class="nav-enlace">Eliminar</a></li>
        <li><a href="{{ url_for('grafica') }}" class="nav-enlace">Gráfico</a></li>
        <li><a href="{{ url_for('cambiar_password_admin') }}" class="nav-enlace">Cambiar Password</a></li>
        <li><a href="{{ url_for('logout') }}" class="nav-enlace">Salir</a></li>
    </ul> 
</nav>
<div class="div div-detalles">
    <section>
        <div class="cont-detalles">
            <h3 class="section-tittle">{{ colaborador.username }}</h3>
            <p>Monto acumulado: {{ colaborador.monto_inicial }}</p>
            <p>Fecha ultima actualizacion: {{ colaborador.fecha_ultima_actualizacion }}</p>  
        </div>   
    </section>
</div>
<div class="div">
    <section>
        {% if user|length == 1  %}
            <h3>{{ user[0] }}</h3>
        {% else %}
            <table id="tableData">
                <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Monto Mensual</th>
                    <th>Concepto del aporte</th>
                </tr>
                <tbody>
                    {% for item in user %}
                    <tr>
                        <th>{{ item[1] }}</th>
                        <th>{{ item[2] }}</th>
                        <th>{{ item[3] }}</th>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </section>
</div>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/paging.js') }}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#tableData').paging({limit:5});
    });
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/menu.js') }}"></script>
{% endblock %}
</body>
{% endblock %}








        

 