{% extends "base/base.html" %}
{% block title %}
    Simple Comercio
{% endblock %}
{% block content %}
<nav> 
    <a href="{{ url_for('inicio') }}" class="nav-enlace">Inicio</a>
    <a href="{{ url_for('signup') }}" class="nav-enlace">Crear</a>
    <a href="{{ url_for('update') }}" class="nav-enlace">Actualizar</a>
    <a href="{{ url_for('delete') }}" class="nav-enlace">Eliminar</a>
    <a href="{{ url_for('grafica') }}" class="nav-enlace">Gráfico</a>
    <a href="{{ url_for('logout') }}" class="nav-enlace">Salir</a>
</nav>
<select name="col" id="col">
    <option value="" disabled selected>--COLABORADORES EXISTENTES--</option>
    {% for item in colaboradores %}
        <option value={{ item.surname }}>{{item.username}}</option>
    {% endfor %}
</select>
<form method="post" action="{{ url_for('select') }}">
    <div>
        <label>Escriba el nombre del usuario que quiere consultar:</label>
        <input type="text" name="username"/><br/>
        <input type="submit" value="Seleccionar">
    </div>
</form>
{% endblock %}