{% extends "base/base.html" %}
{% block title %}
    Simple Comercio
{% endblock %}
{% block content %}
<nav> 
    <a href="{{ url_for('inicio') }}" class="nav-enlace">Inicio</a>
    <a href="{{ url_for('signup') }}" class="nav-enlace">Crear</a>
    <a href="{{ url_for('update') }}" class="nav-enlace">Actualizar</a>
    <a href="{{ url_for('delete') }}" class="nav-enlace">Eliminar</a>
    <a href="{{ url_for('grafica') }}" class="nav-enlace">Gráfico</a>
    <a href="{{ url_for('cambiar_password_admin') }}" class="nav-enlace">Cambiar Password</a>
    <a href="{{ url_for('logout') }}" class="nav-enlace">Salir</a>
</nav>
<select name="col" id="col">
    <option value="" disabled selected>--COLABORADORES EXISTENTES--</option>
    {% for item in colaboradores %}
        <option value={{ item.surname }}>{{item.username}}</option>
    {% endfor %}
</select>
<form method="post" action="{{ url_for('select') }}">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <div>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <label>Escriba el nombre del usuario que quiere consultar:</label>
        <input type="text" name="username"/><br/>
        <h4>Seleccione el rango de fechas que desea consultar (formato de consulta yyyy-mm):</h4>
        <label>Desde:<input type="date" name="fecha1"/></label><br/>
        <label>Hasta:<input type="date" name="fecha2"/></label><br/>
        <input type="submit" value="Seleccionar">
    </div>
</form>
{% endblock %}