body {
  margin: 0;
  padding: 0;
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(93,166,33,1) 0%, rgba(255,255,255,1) 100%);
  background-size: cover;
  font-family: sans-serif;
}

.login-box {
  width: 320px;
  height: 420px;
  background: #000;
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
}

.login-box .avatar {
  width: 100px;
  height: 100px;
  border-radius: 10%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
  object-fit: cover;
}

.registro{
  width: 320px;
  height: 830px;
  background: #000;
  color: #fff;
  margin-top: 20%;
  left: 50%;
  padding: 70px 30px;
}

.login-box h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

.login-box label {
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
}

.login-box input {
  width: 100%;
  margin-bottom: 20px;
}

.login-box input[type="text"], .login-box input[type="password"], .login-box input[type="email"]{
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

.login-box input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #5da621 ;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}

.login-box input[type="submit"]:hover {
  cursor: pointer;
  background: #fff;
  color: #5da621;
}

.login-box a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgrey;
}

.login-box a:hover {
  color: #fff;
}

/* Registrarse */

.signup-box {
  width: 320px;
  height: 620px;
  background: #000;
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
}

.signup-box .avatar {
  width: 100px;
  height: 100px;
  border-radius: 10%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
  object-fit: cover;
}

.signup-box h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

.signup-box label {
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
}

.signup-box input {
  width: 100%;
  margin-bottom: 20px;
}

.signup-box input[type="text"], .signup-box input[type="password"], .signup-box input[type="email"]{
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

.signup-box input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #5da621 ;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}

.signup-box input[type="submit"]:hover {
  cursor: pointer;
  background: #fff;
  color: #5da621;
}

.signup-box a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgrey;
}

.signup-boxa:hover {
  color: #fff;
}

.nav-enlace{
    display: inline-block;
    background: salmon;
    color: #ffff;
    padding: 10px 30px;
    text-decoration: none;
}
.nav-enlace:hover{
    background: rosybrown;
}

nav{
    background: rebeccapurple;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

html {
  font-family: sans-serif;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(200,200,200);
  letter-spacing: 1px;
  font-size: 0.8rem;
}

td, th {
  border: 1px solid rgb(190,190,190);
  padding: 10px 20px;
}

th {
  background-color: rgb(235,235,235);
}

td {
  text-align: center;
}

tr:nth-child(even) td {
  background-color: rgb(250,250,250);
}

tr:nth-child(odd) td {
  background-color: rgb(245,245,245);
}

caption {
  padding: 10px;
}

.grafico{
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 30%;
  margin-top: 30px;
}

.div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

h1 {
  font-family: 'Inconsolata', monospace;
  font-weight: 700;
}

h2 {
  font-family: 'Inconsolata', monospace;
  font-weight: 700;
}

h3 {
  font-family: 'Inconsolata', monospace;
  font-weight: 700;
  font-size: 25px;
}

h4 {
  font-family: 'Inconsolata', monospace;
  font-weight: 700;
}

p {
  font-family: 'Inconsolata', monospace;
  font-weight: 400;
  font-size: 20px;
}

/*-------------- tabla detalles_colaborador --------------- */

.copywrite {
  width: 300px;
  margin: 80px auto 0;
  border-top: 1px solid #cccccc;
  text-align: center;
  font-weight: 10px;
  color: #cccccc;
}

.paging-nav {
  text-align: center;
  padding-top: 2px;
}
.paging-nav a{
  margin: auto 1px;
  text-decoration: none;
  display: inline-block;
  padding: 1px 7px;
  background: #91b9e6;
  color: white;
  border-radius: 3px;
}
.paging-nav .selected-page{
  background: #187ed5;
  font-weight: bold;
}
.paging-nav, #tableData {
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

#tableData {
  margin-top: 50px;
  border-spacing: 0;
  border: 1px dotted #ccc;
}
#tableData th {
  background: #e5f0fb;
  text-align: left;
  border-bottom: 2px solid #91b9e6;
}
#tableData td {
  padding: 3px 10px;
  border-bottom: 1px dotted #ccd;
}

/*----------------------------------------------------------- */