body {
  margin: 0;
  padding: 0;
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(93,166,33,1) 0%, rgba(255,255,255,1) 100%);
  background-size: cover;
  font-family: sans-serif;
}

.login-box {
  width: 320px;
  height: 420px;
  background: #000;
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
}

.login-box .avatar {
  width: 100px;
  height: 100px;
  border-radius: 10%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
  object-fit: cover;
}

.registro{
  width: 320px;
  height: 830px;
  background: #000;
  color: #fff;
  margin-top: 20%;
  left: 50%;
  padding: 70px 30px;
}

.login-box h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

.login-box label {
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
}

.login-box input {
  width: 100%;
  margin-bottom: 20px;
}

.login-box input[type="text"], .login-box input[type="password"], .login-box input[type="email"], .login-box input[type="date"], .login-box input[type="number"]{
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

.login-box input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #5da621 ;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}

.login-box input[type="submit"]:hover {
  cursor: pointer;
  background: #fff;
  color: #5da621;
}

.login-box a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgrey;
}

.login-box a:hover {
  color: #fff;
}
.div-relleno {
  background-color: #087f23;
}
.cambioPassword {
  height: 500px;
}
/* Registrarse */

.signup-box {
  width: 320px;
  height: 620px;
  background: #000;
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
}

.signup-box .avatar {
  width: 100px;
  height: 100px;
  border-radius: 10%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
  object-fit: cover;
}

.signup-box h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

.signup-box label {
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
}

.signup-box input {
  width: 100%;
  margin-bottom: 20px;
}

.signup-box input[type="text"], .signup-box input[type="password"], .signup-box input[type="email"]{
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

.signup-box input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #5da621 ;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}

.signup-box input[type="submit"]:hover {
  cursor: pointer;
  background: #fff;
  color: #5da621;
}

.signup-box a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgrey;
}

.signup-boxa:hover {
  color: #fff;
}

html {
  font-family: sans-serif;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(200,200,200);
  letter-spacing: 1px;
  font-size: 0.8rem;
}

td, th {
  border: 1px solid rgb(190,190,190);
  padding: 10px 20px;
}

th {
  background-color: rgb(235,235,235);
}

td {
  text-align: center;
}

tr:nth-child(even) td {
  background-color: rgb(250,250,250);
}

tr:nth-child(odd) td {
  background-color: rgb(245,245,245);
}

caption {
  padding: 10px;
}

.grafico{
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 30%;
  margin: 50px;
}

.div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;

}
.div-detalles {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 80px;
}
.cont-detalles {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-tittle {
  text-transform: uppercase;
  font-weight:bold;
  font-size: 30px;
}

/* .tabla, th {
  background: #000 !important;
  text-align: center !important;
  color: #fff;
  font-weight: 400;
  border: 2px solid #fff !important;
  
} */
h1 {
  font-family: 'Inconsolata', monospace;
  font-weight: 700;
}

h2 {
  font-family: 'Inconsolata', monospace;
  font-weight: 700;
}

h3 {
  font-family: 'Inconsolata', monospace;
  font-weight: 700;
  font-size: 25px;
}

h4 {
  font-family: 'Inconsolata', monospace;
  font-weight: 700;
}

p {
  font-family: 'Inconsolata', monospace;
  font-weight: 400;
  font-size: 20px;
}


/* Actualizar */

.actualizar {
  height: 500px;
}
/*-------------- tabla detalles_colaborador --------------- */

.copywrite {
  width: 300px;
  margin: 80px auto 0;
  border-top: 1px solid #cccccc;
  text-align: center;
  font-weight: 10px;
  color: #cccccc;
}

.paging-nav {
  text-align: center;
  padding-top: 2px;
}
.paging-nav a{
  margin: auto 1px;
  text-decoration: none;
  display: inline-block;
  padding: 1px 7px;
  background: #000;
  color: white;
  border-radius: 3px;
}
.paging-nav .selected-page{
  background: #000;
  font-weight: 400;
}
.paging-nav, #tableData {
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

#tableData {
  margin-top: 50px;
  border-spacing: 0;
  border: 1px dotted #fff;
}
#tableData th {
  background: #000;
  text-align: left;
  border: 2px solid #fff;
  color: #fff;
  text-align: center;
}
#tableData td {
  padding: 3px 10px;
  border-bottom: 1px dotted #ccd;
}

/*----------------------------------------------------------- */
.bg-color {
  background: #4caf50;
}
.contenedor-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15%;
}
.form-inputs {
    display:flex;
    flex-direction: column;
    align-items: center;
}
.form-inputs-colab {
  display:flex;
  justify-content:space-around;

}
.input-user {
  margin-left: 10px;
}
.btn-primary {
  color: #000;
  background-color: #80e27e;
  border: 1px solid #000;
  font-weight: bold;
}
.btn-primary:hover {
  color: #000;
  background-color: #087f23;
  border: 1px solid #000;
}
/* Menu */

.hamburger{
	position:fixed;
  background-color:transparent;
	left:0;
	top:0;
	height:30px;
	width:30px;
	padding:20px 20px;
	-webkit-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
	-webkit-transition:-webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	transition:transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	z-index:1002;
	cursor:pointer;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none
}
.hamburger.is-active{
  background-color:none;
}
._layer{
	background:#333333;
	margin-bottom:4px;
	border-radius:2px;
	width:28px;
	height:4px;
	opacity:1;
	-webkit-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
	-webkit-transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
}
.hamburger:hover .-top{
	-webkit-transform:translateY(-100%);
	-ms-transform:translateY(-100%);
	transform:translateY(-100%);
}
.hamburger:hover .-bottom{
	-webkit-transform:translateY(50%);
	-ms-transform:translateY(100%);
	transform:translateY(100%);
	}
.hamburger.is-active .-top{
	-webkit-transform:translateY(200%) rotate(45deg) !important;
	-ms-transform:translateY(200%) rotate(45deg) !important;
	transform:translateY(200%) rotate(45deg) !important;
}
.hamburger.is-active .-mid{
	opacity:0;
}
.hamburger.is-active .-bottom{
	-webkit-transform:translateY(-200%) rotate(135deg) !important;
	-ms-transform:translateY(-200%) rotate(135deg) !important;
	transform:translateY(-200%) rotate(135deg) !important;
}

.menuppal.is_active{
  transform: translate3d(0px, 0px, 0px);
}
.menuppal{
   background-color: rgba(255, 255, 255, 0.95);
    bottom: 0;
    height: 100%;
    left: 0;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    transform: translate3d(0px, -100%, 0px);
    transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
    width: 100%;
    z-index: 1001;
}
.menuppal ul{
  margin:0;padding:0;
}
.menuppal ul li { 
  list-style: none;
	text-align:center;
	font-family: 'Inconsolata', Arial, Helvetica;
	color:#000;
	font-size:1.5rem;
	line-height:3em;
	height:3em;
  color:#000;
	text-transform:none;
	font-weight:bold;
}
.menuppal ul li a{
  text-decoration:none;
  color:#000;
}
.menuppal ul li a:hover{
  text-decoration:none;
  color:#5da621;
}

/* ------------------------------------------------------- */